

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background: rgb(255, 255, 255);
    overflow-x: hidden;
}
h1{
    background-color: #616161;
    color:white;
    font-size: 60px;
    font-family: Century gothic;
    width: 100%;
    margin-top: -65px;
    height: 70px;
    padding-top: 0px;
    padding-right: 90%;
}

.heading{
    text-align: center;
    margin:0 6px;
    font-size: 4px;
    padding: 2px;
    border-bottom: .2 solid #fff4;
    color:#fff ;

}
.heading img{
    color: #fff;
    position: absolute;
    top: 0; left: 0;
    width: 80%;
    left: 200%;
    top: 2%;
}

header{
    position: relative;
    top: 0px; left: 2px;
    z-index: 1000px;
    height:300px;
    width: 1270px;
    right: 300;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 99px;
    width: 99px;
    position: relative;
    top: 2px;
    right: 0px;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom: 3px;
    border: 7px solid color: #fff;
    
}
header .user .name {
    font-size: 30px;
    color:rgb(55, 61, 55);

}
ul li{
    list-style: none;
    font-family: Century gothic;

}
header .user .post{
    font-size: 30px;
    color:rgb(190, 0, 0);
}
.ident{
    width:98%;
    position:relative ;
    justify-content: center;
    align-items: center;
    padding:20px 50px;
    box-sizing: content-box;
    background: #e0e0e0;
    transition: all 0.3s ease;
}



}

.ulone{
    color:#fffefe;
    font-family: century gothic;
    margin: 10px 15px;
}

.ulone a{
    color:#e99400;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.ulone li{
    padding: 2px 0px;
}

%;
    }

    